.team-logo {
    width: 75px;
}

.card-flex {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 150px;
    .left {
        margin-right: 5px;
    }
    .right {
        margin-left: 5px;
    }
}
